@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navigation
{
	height: 80px;
	width: 100%;
	background-color: blue;
	border-radius: 0 0 35px 35px;
	box-shadow: 0.5px 0.5px 0.5px 0.5px black;
	font-family: 'Montserrat', sans-serif;
    position: sticky;
    z-index: 500;
    top: 0;
}
.navigation ul li 
{
	float: left;
	color: black;
	list-style: none;
}
.navigation ul li a
{
	color: white;
	padding: 5px 15px;
	text-decoration: none;
	font-size: 12px;
	border: 5px solid transparent;
	border-radius: 20px;
	transition: 0.5s;
}
.navigation ul li a:hover 
{
	background:rgba(255,255,255, 0.5);
}
.sign a:hover
{
	 box-shadow: 0 0 1px 1px gray;
}
.navigation img
{
	height: 35px;
	width: 80px;
	margin-left: 50px;
}
.firstcontant
{
	width: 100%;
	height: 800px;
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: #4169E1;
	position: relative;
	border-radius: 0 0 35px 35px;
	margin-top: -50px;
	z-index: -1;
}
.firstcontant img
{
	height: 325px;
	width: 275px;
	margin-top: -300px;
	border-radius: 20px;
	background-color: white;
	background-position: center;
	display: inline-block;
	background-size: cover;
	margin-left: 760px;
}
.welcome  h1
{
	margin-top: 50px;
	padding-left: 50px;
	font-size: 50px;
	color: white;
}
.welcome h4
{
	padding-top: 150px;
	padding-left: 50px;
	color: white;
}
.welcome h5
{
	padding-top: 30px;
	padding-left: 50px;
	color: white;
	font-weight: ;
}
.text input
{
	font-size: 10px;
	display: inline-block;
	position: absolute;
	width: 300PX;
	margin-left: 50px;
	margin-top: -300px;
	padding: 10px 50px;
	border: transparent;
	border-radius: 20px;
}
.text h4
{
    font-size: 10px;
    position: absolute;
	display: inline-block;
	margin-top: -300px;
	padding: 10px 20px;
	margin-left: 241px;
	background-color: red;
	border-radius: 20px;
	color: white;
	transition: 0.3s;
}
.text h4:hover
{
	background-color: blue;
}
.discount h1
{
	height: 75px;
	width: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -390px;
	margin-left: 730px;
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-size: cover;
	background-color: 	#F08080;
	border-radius: 50%;
	position: absolute;
	z-index: 5;

}
.discount h2
{
	position: absolute;
	border: 1px solid transparent;
	color: white;
	margin-top: -640px;
	margin-left: 950px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	border-radius: 20px;
	padding: 3px 10px;
	background-color: blue;
	z-index: 10;

}
.container
{

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: -50px;
}
.box
{
	height: 150px;
	width: 210px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 0 10px gray;
	font-family: 'IBM Plex Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	justify-content: center;
}
.box img
{
	border-radius: 50%;
	margin-left: 70px;
	height: 60px;
	width: 60px;
}



.games
{
	height: 450px;
	width: 100%;
	border: 0.5px solid transparent;
	position: relative;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 30px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
}
.games h3
{
	color: red;
	font-size: 16px;
	margin-left: 30px;
	
}
.games h1
{
	color: black;
	display: inline-block;
	font-size: 30px;
	margin-left: 30px;
}
.games h4
{
	color: black;
	background-color: red;
	color: white;
	padding: 12px 20px;
	border-radius: 20px;
	font-size: 10px;
	display: inline-block;
	margin-left: 700px;
}
.games h4:hover
{
	box-shadow: 0 0 1px 1px gray;

}
.seccontant
{
	display: flex;
	justify-content: space-evenly;
}
.family
{
	height: 200px;
    width: 150px;
    border-radius: 20px;
    margin-top: 50px;
	background-color: lightgray;
	box-shadow: 0 0 10px gray;
}
.family f
{
	display: inline-block;
	font-size: 12px;
	text-align: center;
	margin-left: 12px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
}
.img1
{
	height: 150px;
	width: 100%;
	border-radius: 25px;
	transition: 0.3s;
}
.img2
{
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 50%;
	background-image: url(shopingbag.jpg);
	background-size: cover;
}
.img1:hover
{
	transform: scale(1.1);
	box-shadow:0 0 5px 5px blue;
}



.games2
{
	height: 450px;
	width: 100%;
	border: 0.5px solid transparent;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 30px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 400px;
}




.thirdcontant
{
	height: 350px;
	width: 100%;
	border: 1px solid transparent;
	position: absolute;
	margin-top: 450px;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 30px;

}
.action
{
	display: flex;
	justify-content: space-evenly;
}
.family2
{
	height: 200px;
    width: 150px;
    border-radius: 25px;
	background-color: blue;
	border: 1px solid transparent;
}
.family2 f
{
	display: inline-block;
	color: white;
	font-weight: 900;
	font-size: 16px;
	padding: 15px 0 15px 0;
	text-align: center;
}
.box3
{
	height: 150px;
	width: 100%;
	border-radius: 25px;
	background-size: cover;
	transition: 0.3s;

}
.box3:hover
{
	transform: scale(1.1);
	box-shadow:0 0 5px 5px blue;
}
.thirdcontant
{
	text-align: center;
}
.thirdcontant h5
{
	color: red;
}





.lastcontant
{
    height: 550px;
    width: 100%;
	margin-top: 1200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 1px solid transparent;
}
.last
{
	height: 350px;
	width: 350px;
	border-radius: 30px;
	background-image: url(pubg.jpg);
	background-size: cover;
}
.last2
{
	height: 350px;
	width: 300px;
	position: absolute;
	margin-left: -500px;
	border-radius: 30px;
	margin-top: 80px;
    background-color: #F0F0F0;
}
.last2 f
{
	font-size: 26px;
	font-weight: 900;
	margin-left: 20px;
}
.last2 span
{
	color: blue;
	font-weight: 900;
	font-size: 20px;
}
.last2 h3
{
	font-size: 10px;
	margin-left: 20px;
	color: red;
}
.last2 p
{
	font-size: 10px;
	font-weight: 900;
	margin-left: 20px;
	padding-top: 20px;
}

.last2 h4
{
	font-size: 10px;
	display: inline-block;
	margin-left: 20px;
	padding: 10px 20px;
	background-color: red;
	border-radius: 20px;
	color: white;
	transition: 0.3s;
}
.last2 h4:hover
{
	background-color: blue;
}

.last3
{
	height: 270px;
	width: 330px;
	position: absolute;
	border-radius: 30px;
	border: 1px solid transparent;
	margin-left: 500px;
	margin-top: 250px;
    background-color: #F0F0F0;
}
.last3 f
{
	font-size: 26px;
	font-weight: 900;
	margin-left: 20px;
}
.last3 span
{
	color: blue;
	font-weight: 900;
	font-size: 20px;
}
.last3 h3
{
	font-size: 10px;
	margin-left: 20px;
	color: red;
}
.last3 p
{
	font-size: 10px;
	font-weight: 900;
	margin-left: 20px;
	padding-top: 20px;
}
.last3 h4
{
	font-size: 10px;
	display: inline-block;
	padding: 8.5px 20px;
	margin-left: -127px;
	background-color: red;
	border-radius: 20px;
	color: white;
	transition: 0.3s;
}
.last3 h4:hover
{
	background-color: blue;
}
.last3 input
{
	font-size: 10px;
	display: inline-block;
	margin-left: 20px;
	padding: 10px 20px;
	padding-right: 130px;
	border: transparent;
	border-radius: 20px;
}





.footer
{
	height: 100px;
	width: 100%;
	position: absolute;
	margin-top: 1800px;
	border: 1px solid transparent;
}
.foot
{
	height: 80px;
	width: 100%;
	margin-top: 19px;
	border-radius: 60px 60px 0 0;
	text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
	color: white;
	border: 1px solid transparent;
	background-color: blue;
}
.footer a img
{
	background-size: cover;
	position: absolute;
	height: 50px;
	width: 50px;
	margin-left: 50px;
	margin-top: 10px;
	border-radius: 50%;
}